@import 'nib'



body
  background linear-gradient(-45deg, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%)
.main
  height 70vh
  background-color white
header
  margin auto
  h1
    font-size 4em
    color white
    position realtive
    box-size border-box
.isDone
  text-decoration line-through;
.selected
  text-decoration none
  color black
.todos
  list-style none
.todo
  width 3/4vh
  height 100%
  margin-top 5px
  border 1px solid black
  border-left 3px blue solid
